.node {
    width: 20px;
    height: 20px;
    outline: 1px solid grey;
    display: inline-block
}
.node-start {
    background-color: green;
}

.node-end {
    background-color: red;
}

.node-visited {
    background-color: cornflowerblue;
}

.node-wall {
    background-color: rgb(12, 53, 71);
}

