.node {
    width: 25px;
    height: 25px;
    outline: 1.5px solid rgb(172, 172, 172);
    display: inline-block
}
.node-start {
    background-color: green;
}

.node-end {
    background-color: red;
}

.node-visited {
    background-color: cornflowerblue;
}

.node-wall {
    background-color: rgb(12, 53, 71);
}

.node-shortest-path {
    background-color: goldenrod;
}

